@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
#navtext {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #000000;
}

.color {
  background: #f4511e;
}

#logo {
  font-family: 'Gugi', cursive;
  color: #212121;
}

#para {
  font-family: 'Slabo 27px', serif;
  font-size: 1.3rem;
}

#about-title
{
  font-family: 'Slabo 27px', serif;
  font-size: 3rem;
}
