@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
#navtext {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #000000;
}
.color{
  background:#f4511e;
}

#logo {
  font-family: 'Gugi', cursive;
  color: #212121;
}

.car
{
  height: 100vh;
}
